.color {
  border: solid 1px black;
  float: left;
  margin: 3px;
  padding: 60px;
}

#color-palette {
  height: 100px;
  width: 1000px;
}

.preto {
  background-color: black;
}

.vermelho {
  background-color: red;
}

.azul {
  background-color: blue;
}

.roxo {
  background-color: purple;
}

#pixel-board {
  height: 650px;
  width: 650px;
  border: 1px solid black;
  margin-top: 35px;
}

.pixel {
  border: solid 1px black;
  padding: 40px;
  margin: 0,6;
  float: left;
  background-color: white;
  height: 40px;
  width: 40px;
}
