.color {
  border: solid 1px black;
  float: left;
  margin: 3px;
  padding: 40px;
}

#color-palette {
  height: 100px;
  width: 1000px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#purple {
  background-color: purple;
}

#pixel-board {
  height: 420px;
  width: 420px;
  border: 1px solid black;
}

.pixel {
  border: solid 2px black;
  padding: 40px;
  margin: 0,6;
  float: left;
  background-color: white;
}