body {
  background-image: url(https://img.freepik.com/fotos-gratis/papel-digital-abstrato-aquarela-criancas-padrao-infinito-rosa-e-azul-formas-geometricas-fundo_82758-516.jpg?w=2000);
  max-width: 80%;
  margin: auto 400px;
}

h1 {
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 1px;
}

h1::first-letter {
  color: rgb(207, 61, 85);
  font-size: 80px;
}

.color {
  border: solid 1px black;
  margin: 5px;
  padding: 35px;
  display: inline-block;
  border-radius: 10%;
  margin-left: 18px;
}

#color-palette {
  display: flex;
}

#clear-board {
  display: flexbox;
  font-family: cursive;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 13px;
}

#board-size {
  display: flexbox;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 170;
}

#generate-board {
  display: flexbox;
  font-family: cursive;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
}

#pixel-board {
  height: 630px;
  width: 630px;
  margin-top: 1%;
}

.pixel {
  border: solid 1px black;
  padding: 18px;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 10%;
  display: inline-block;
}
